body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin: 0;padding: 0; font-family:'Microsoft YaHei'}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
textarea{resize: none;overflow: auto;}

#nav{margin:0; /*width: 1208px;*/ height: 64px;padding-left: 12px;padding-right: 20px; background: #373942;}

#nav .container{width: 1176px;height: 64px; padding: 0 15px;position: relative;margin: 0 auto;}
#nav .logo_container{ height: 64px;float: left; margin: 0 auto; }
.logo_container h1{ font-weight: normal; line-height: 64px;font-size: 18px; }
.logo_container img{ margin-right: 4px; vertical-align: middle;}
.logo_container span{font-size: 18px;color:#e5e9ee; display: inline-block;height: 100%; vertical-align: middle;}

#nav .nav_container{width: 638px; height: 64px; margin-left: 40px; font-size: 14px; float: left;}
.nav_container ul{line-height: 64px;  }
.nav_container li{float: left;}
.nav_container a{padding: 0 20px; color:#e5e9ee; height: 100%;vertical-align: middle;}
.nav_container img{vertical-align: middle;}

#nav .pull_right{width: 177px;height: 64px;font-size: 14px;position: absolute; right: 0;top: 0;}
.pull_right .login_container{float: right; width: 31px; padding-right: 5px; }
.login_container a{color:#e5e9ee;line-height: 64px;}
.pull_right .notify_container{float: right; width: 35px;margin-left: 10px;}
.notify_container span{display: inline-block; height: 64px; vertical-align: middle;}
.notify_container img{vertical-align: middle;}

.pull_right .search_container{float: right; width: 96px;}
.search_container input{width: 96px;color:#e5e9ee;padding-left:19px;   background: url(../img/look.jpg) no-repeat 0% 50% #373942;
	border:1px solid #e5e9ee; height: 26px; margin-top: 19px;border:-none; z-index: -1; position: absolute; right: 5px;}
.search_container #closePic{z-index: -1;position: absolute; right: 7px;}
.search_container img{padding-left: 76px; margin-top: 24px;vertical-align: middle;}